body {
  font-family: Arial, sans-serif;
  color: #ffffff;
  background-color: #1f1f1f;
  margin: 0;
  padding: 0;
}

header {
  background-color: #00203F; /* Navy Blue */
  color: #ADEFD1; /* Mint Green */
  padding: 10px 0;
  text-align: center;
}

nav {
  background-color: #00203F; /* Navy Blue */
  padding: 10px 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #ADEFD1; /* Mint Green */
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #FF6347; /* Tomato */
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.project {
  margin-bottom: 50px; /* Add space between project sections */
}

.profile-pic img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}
.links {
  text-align: center;
}

.links a {
  color: #ADEFD1; /* Navy Blue */
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s;
}

.links a:hover {
  color: #FF6347; /* Tomato */
}

.iframe-container {
  position: relative;
  width: 90%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  margin: 0px auto; /* Add space above and below */
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

@media (max-width: 600px) {
  header {
      padding: 10px 0;
  }
  .container {
      width: 90%;
      padding: 10px 0;
  }
  .social-icons a {
      font-size: 20px;
      margin: 0 5px;
  }
  .links a {
      margin: 0 5px;
  }
}

#about h2 {
  text-align: center;
}

#recent-work {
  margin-top: 20px;
}

.qr-code {
  text-align: center;
  margin-top: 20px;
}

.qr-code img {
  width: 100px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  max-width: 100%; /* Ensure it doesn't exceed the container width */
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: #00203F; /* Navy Blue */
  color: #ADEFD1; /* Mint Green */
  margin-top: 20px;
}

a{
  color: #ADEFD1; /* Mint Green */
  text-decoration: none;
}
a:hover {
  color: #FF6347; /* Tomato */
}

#resume-link {
  text-align: center;
  margin-top: 20px;
}

#resume_link {
  color: #ADEFD1; /* Mint Green */
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
  text-align: center;
}